<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">Asesoria</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
			</ul>
		</div>
	</nav>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
						<th>Telefono</th>
						<th>Tipo de Documento</th>
						<th>Numero del Documento</th>
                        <th>Tipo de Usuario</th>
                        <!--<th>Estado</th>-->
                        <th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listaUsuarios}">
						<td th:text="${usuario.idUsuario}"></td>
						<td th:text="${usuario.nombreUsuario}"></td>
						<td th:text="${usuario.apellidoUsuario}"></td>
						<td th:text="${usuario.correoUsuario}"></td>
						<td th:text="${usuario.contrasenaUsuario}"></td>
						<td th:text="${usuario.telefonoUsuario}"></td>
						<td th:text="${usuario.tipoDocUsuario}"></td>
						<td th:text="${usuario.numeroDocUsuario}"></td>
						<td th:text="${usuario.tipoUsuario}"></td>
						<!--<td th:text="${artista.estadoUsuario}"></td>-->
						<td><a th:href="@{'/usuarios/editar'+'/'+ ${usuario.idUsuario}}"class="btn btn-info">Editar</a> &nbsp; </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>