<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">Asesoria</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
			</ul>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<!--si esto es igual a Usuario si lo voy agregar me saldra este titulo-->
			<h1 th:if="${usuario.idUsuario == null}">Registro de Usuario</h1>
			<!--lo contrario de registrar -->
			<h1 th:unless="${usuario.idUsuario == null}">Editar Usuario</h1>
		</div>
		
		<form th:action="@{/usuarios/guardar}" th:object="${usuario}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<input type="hidden" th:field="*{idUsuario}" th:value="${usuario.idUsuario}" />
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-sm-4">Nombre Usuario :
					</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{nombreUsuario}" class="form-control"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-sm-4">Apellido Usuario :
					</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{apellidoUsuario}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-form-label col-sm-4">Correo :
					</label>
					<div class="col-sm-8">
						<input type="email" id="correo" th:field="*{correoUsuario}" placeholder="Ejemplo@dominio.com" class="form-control"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-sm-4">Contraseña :
					</label>
					<div class="col-sm-8">
						<input type="password" th:field="*{contrasenaUsuario}" class="form-control"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-sm-4">Tipo Usuario :
					</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{tipoUsuario}" class="form-control"
							required />
							<select name="select">
  								<option th:field="*{tipoUsuario}" value="value1"selected>--Elegir tipo de Usuario--</option>
  								<option th:field="*{tipoUsuario}" value="value2" >Value 2</option>
  								<option th:field="*{tipoUsuario}" value="value3">Value 3</option>
								</select>
					</div>
				</div>
				<!--<div class="form-group row">
					<label class="col-form-label col-sm-4">Estado :
					</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{estadoUsuario}" class="form-control"
							required />
					</div>
				</div>-->
				 		<div class="text-center p">
					<button class="boton" type="submit">
						<a style="--clr:#1e9bff"><span>Guardar</span></a>
					</button>
				</div>
			</div>
		</form>
	</div>
			<script>
				function validarCorreo(correo){
					var expReg= /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
					var esValido=expReg.test(correo);
					if(esValido==true){
						alert('El correo no es valido');
					}
					else{
						alert('El correo no es valido')
					}
				}
				
			</script>	
</body>
</html>