<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Formulario Cliente</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" th:href="@{/css/app.min.css}">
  <link rel="stylesheet" th:href="@{/bundles/datatables/datatables.min.css}">
  <link rel="stylesheet" th:href="@{/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}">
  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/components.css}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <link rel='shortcut icon' type='image/x-icon' th:href='@{/img/logo.png}' />
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <script th:src="@{https://kit.fontawesome.com/392a27d13c.js}" crossorigin="anonymous"></script>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" th:src="@{/img/user.png}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
							<div class="dropdown-title"><span sec:authentication="principal.username"></span></div>
              <div class="dropdown-divider"></div>
              <a th:href="@{/logout}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a th:href="@{/dasboard}"> <img alt="image" th:src="@{/img/logo.png}" class="header-logo" /> <span
                class="logo-name">AgroFuturo</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown active">
              <a th:href="@{/dasboard}" class="nav-link"><i data-feather="monitor"></i><span>Inicio</span></a>
            </li>

            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Acciones</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" th:href="@{/dasboard_pages/calendar}">Calendario</a></li>
                <li><a th:href="@{/dasboard_pages/gmaps-advanced-route}">Mapa</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>Formularios</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" th:href="@{/agendamiento/nuevo}">Agendamiento</a></li>
                <li><a class="nav-link" th:href="@{/asesoria/nuevo}">Asesoria</a></li>
                <li><a class="nav-link" th:href="@{/clientes/nuevo}">Cliente</a></li>
                <li><a class="nav-link" th:href="@{/usuarios/nuevo}">Empleado</a></li>
                <li><a class="nav-link" th:href="@{/solicituds/nuevo}">Solicitud</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="grid"></i><span>Tablas</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="datatables.html">Principal</a></li>
                <li><a class="nav-link" th:href="@{/agendamiento}">Agendamiento</a></li>
                <li><a class="nav-link" th:href="@{/asesoria}">Asesoria</a></li>
                <li><a class="nav-link" th:href="@{/clientes}">Cliente</a></li>
                <li><a class="nav-link" th:href="@{/usuarios}">Empleado</a></li>
                <li><a class="nav-link" th:href="@{/solicituds}">Solicitud</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div id="Asesoria">
                    <!--Alerta Duplicidad-->
                         <!--param =>ruta ?-->
                    <div th:if="${param.duplicado}">
                        <div class="alert alert-warning" role="alert">
                            Este correo ya fue registrado 
                        </div>
                    </div>
                    
                  <form th:action="@{/clientes/nuevo}" th:object="${clientes}" method="post" class="needs-validation" novalidate="">
                    <div class="card-header">
                      <h4>Formuluario Cliente</h4>
                    </div>
                    <!--Id-->
                    <input hidden type="text" id="id_Cliente"  th:field="*{id_Cliente}" />
                    
                    <!--Nombre-->
                    <div class="card-body">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input th:field="*{nom_Cliente}" type="text" class="form-control" required maxlength="50" >
                        <div class="invalid-feedback">
                          Por favor diligencié el campo
                        </div>
                      </div>

                    <!--Apellido-->
                     <div class="form-group">
                        <label>Apellido</label>
                        <input th:field="*{ape_Cliente}" type="text" class="form-control" required maxlength="50">
                        <div class="invalid-feedback">
                          Por favor diligencié el campo
                        </div>
                      </div>

                    <!--Dirección-->
                     <div class="form-group">
                        <label>Direccin</label>
                        <input th:field="*{direccion}" type="text" class="form-control" required="" maxlength="45">
                        <div class="invalid-feedback">
                          Por favor diligencié el campo
                        </div>
                      </div>

                    <!--Correo-->
                     <div class="form-group">
                        <label>E-mail</label>
                        <input th:field="*{correo_Cliente}" type="email" class="form-control" required="">
                        <div class="invalid-feedback">
                          Por favor revise que este bién diligenciado el correo.
                        </div>
                      </div>

                      <!--Teléfono-->
                      <div class="form-group">
                        <label>Teléfono</label>
                        <input th:field="*{num_Cliente}" type="number" class="form-control" required="6" maxlength="10">
                        <div class="invalid-feedback">
                          Por favor diligencié el campo
                        </div>
                      </div>

                    <!--Tipo documento-->
                    <div class="form-group">
                      <label>Tipo Documento</label><br>
                      <select th:field="*{tipoDocumentoCliente}" class="form-control" required="">
                        <option value="">DNI</option>
                        <option value="">C.C</option>
                        <option value="">C.E</option>
                        <option value="">P.A</option>
                      </select>
                    </div>

                    <!--No. Documento-->
                     <div class="form-group">
                        <label>No. Documento</label>
                        <input th:field="*{numeroDocumento}" type="number" class="form-control" required="" minlength="10" >
                        <div class="invalid-feedback">
                          Por favor diligencié el campo
                        </div>
                      </div>


                    <!--Estado-->
                     <div class="form-group">
                        <label>Estado</label><br>
                        <select class="form-control" required="" >
                          <option value="">No aplica</option>
                          <option value="">Activo</option>
                          <option value="">Inactivo</option>
                        </select>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                  </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
          <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Ajustes
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Tema</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Claro </span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Oscuro</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Tema Barra Lateral</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Tema Color</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restaurar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
				<div class="footer-left">
					<img src="../../static/img/logo copy.png" th:src="@{/img/logo copy.png}">
				</div>
				<div class="footer-right">
					<a href="https://www.facebook.com/AgroFuturo2021">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a href="https://api.whatsapp.com/send?phone=%2B573138988526&data=AWDE5xbsmUjp72OdkGbnfGmnTKUQ1yJxOFqzYAL0K3eg6GR2rYaH7kuLozq_rm_WuKT1UwiK4KYlYjfLCCxA-hacU_41VsBBR-WRc2th9j9o1YifSpYFTB8f_gmieXl8zFm7u3XjGsnElfG91-wTfoTnBrqOn0uqX86SXE-TYTq31aanQQb_oSYOBZKhofSmtX5omk5VoUsfzsgheh1GHSURCd2Jx-tX1rezfgCPM1p5xeksYg-1aKNT89VeFeRAQuxSBjr0UzuTTRhm2jdnzfhgGlRHTvpdr3aPTnDzT3OVXI62Eys-nwOcZ6PRAQqco9Y&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR2YtdL8ATkMPcpxl0Xx0-e5eLNjxIgSWRrcx5Pr30aAZupryYzhNPahRhw">
						<i class="fa-brands fa-whatsapp"></i>
					</a>
					<a href="mailto:agricolagrofuturo@gmail.com">
						<i class="fa-solid fa-envelope"></i>
					</a>
					<a href="templateshub.net">Templateshub</a></a>
				</div>
			</footer>
    </div> 
  </div>
  <!-- General JS Scripts -->
  <script th:src="@{/js/app.min.js}"></script>
  <!-- JS Libraies -->
  <script th:src="@{/bundles/datatables/datatables.min.js}"></script>
  <script th:src="@{/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/bundles/jquery-ui/jquery-ui.min.js}"></script>
  <!-- Page Specific JS File -->
  <script th:src="@{/js/page/datatables.js}"></script>
  <!-- Template JS File -->
  <script th:src="@{/js/scripts.js}"></script>
  <!-- Custom JS File -->
  <script th:src="@{/js/custom.js}"></script>
</body>


<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->
</html>