
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: "Poppins-Regular";
	color: #333;
	font-size: 13px;
	margin: 0;
}
input, textarea, select, button {
	font-family: "Poppins-Regular";
	color: #333;
	font-size: 13px;
}
p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}
.span{
	margin-top: 3%;
	margin-left: 16%;
	font-size: 15px;
}
img {
	max-width: 100%;
	padding-bottom: -1rem;
	margin-top: 11px;
}
.logo{
	margin-top: -10px;
}
ul {
	padding-left: 0;
	margin-bottom: 0;
}
a:hover {
	text-decoration: none;
}
:focus {
    outline: none;
}
.wrapper {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.inner {
	padding: 20px;
	background: #fff;
	max-width: 850px;
	margin: auto;
	display: flex;

	.image-holder {
		
		width: 50%;
	}
	form {
		width: 50%;
		padding-top: -36px;
		padding-left: 45px;
		padding-right: 45px;
	}
	h3 {
		text-transform: uppercase;
		font-size: 25px;
		font-family: "Poppins-SemiBold";
		text-align: center;
		margin-bottom: 28px;
	}
}
.form-group {
	display: flex;
	input {
		width: 50%;
		&:first-child {
			margin-right: 5px;
		}
	}
}
.form-wrapper {
	
	position: relative;
	
	i {
		position: absolute;
		bottom: 9px;
		right: 0;
	}
}
.logito{
	margin-left: 30px;
	margin-top: 60px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; }
i{
		padding-right: 10px;
		margin: 2px;
		color:#686470;
		
	}
	input{
		padding: 15px;
	}
	select{
		padding: 2px;
		
		
	}

.form-control {
	border: 1px solid #c5bfcf96;
	display: block;
	width: 100%;
	height: 30px;
	
	margin-bottom: 25px;
	border-radius: 5px;
	
	
	&::-webkit-input-placeholder { 
		font-size: 13px;
		color: #686470;
		
		font-family: "Poppins-Regular";
		
	}
	&::-moz-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
	&:-ms-input-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
	&:-moz-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
}

.fom {
	border: 1px solid #68647096;
	display: block;
	width: 100%;
	height: 30px;
	
	margin-bottom: 25px;
	border-radius: 5px;
	
	
	&::-webkit-input-placeholder { 
		font-size: 13px;
		color: #686470;
		
		font-family: "Poppins-Regular";
		
	}
	&::-moz-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
	&:-ms-input-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
	&:-moz-placeholder { 
		font-size: 13px;
		color: #686470;
		font-family: "Poppins-Regular";
			}
}
select {
	-moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
 	option[value=""][disabled] {
 		display: none;
		
 	}


}
.botoncito{
	margin-left: 3px;
	width: 100%;
	border-radius: 7px;
	i{
		color: #fff;
	}
}
button {
	
	border: none;
	width: 164px;
	height: 51px;
	margin: auto;
	margin-top: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: rgb(52, 131, 6);
	font-size: 15px;
	color: #fff;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 15px;
	i {
		margin-left: 10px;
		-webkit-transform: translateZ(0);
  		transform: translateZ(0);
	}
	&:hover, &:focus, &:active {
		i {
			-webkit-animation-name: hvr-icon-wobble-horizontal;
			animation-name: hvr-icon-wobble-horizontal;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
		}
	}
}
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 1199px) { 
	.wrapper {
		background-position: right center;
	}
}
@media (max-width: 991px) {
	.inner form {
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
	
	}
}
@media (max-width: 767px) {
	.inner {
		
		display: block;
		.image-holder {
			display: flex;
			
			width: 100%;
		}
		form {
			
			width: 100%;
			padding: 40px 0 30px;
		}
	}
	button {
		margin-top: 60px;
	}
}
