<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<!-- datatables.html  21 Nov 2019 03:55:21 GMT -->

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Formulario Agendamiento</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" th:href="@{/css/app.min.css}">
  <link rel="stylesheet" th:href="@{/bundles/datatables/datatables.min.css}">
  <link rel="stylesheet" th:href="@{/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}">
  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/components.css}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel='shortcut icon' type='image/x-icon' th:href='@{/img/logo.png}' />
  <script th:src="@{https://kit.fontawesome.com/392a27d13c.js}" crossorigin="anonymous"></script>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" th:src="@{/img/user.png}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title"><span sec:authentication="principal.username"></span></div>
              <div class="dropdown-divider"></div>
              <a th:href="@{/logout}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a th:href="@{/dasboard}"> <img alt="image" th:src="@{/img/logo.png}" class="header-logo" /> <span
                class="logo-name">AgroFuturo</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown active">
              <a th:href="@{/dasboard}" class="nav-link"><i data-feather="monitor"></i><span>Inicio</span></a>
            </li>

            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="layout"></i><span>Formularios</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" th:href="@{/agendamiento/nuevo}">Agendamiento</a></li>
                <li><a class="nav-link" th:href="@{/asesoria/nuevo}">Asesoria</a></li>
                <li><a class="nav-link" th:href="@{/usuarios/nuevo}">Empleado</a></li>
                <li><a class="nav-link" th:href="@{/solicituds/nuevo}">Solicitud</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="grid"></i><span>Tablas</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" th:href="@{/agendamiento}">Agendamiento</a></li>
                <li><a class="nav-link" th:href="@{/asesoria}">Asesoria</a></li>
                <li><a class="nav-link" th:href="@{/usuarios}">Empleado</a></li>
                <li><a class="nav-link" th:href="@{/solicituds}">Solicitud</a></li>
                <li><a class="nav-link" th:href="@{/agendamientoFecha}">Vista Cliente</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>

      <div class="container">
        <div class="main-content ">
          <section class="section">
            <div class="card">
              <!-- Main Content -->
              <br>
              <div>
                <h4 th:if="${agendamiento.idAgendamiento == null}" class="text-center">Formulario Agendamiento</h4>
                <h4 th:unless="${agendamiento.idAgendamiento == null}" class="text-center">Elegir Fechas de Agendamiento</h4>
              </div>


              <form th:action="@{/agendamiento/guardar}" th:object="${agendamiento}" method="post"
                class="needs-validation" style="max-width: 600px; margin: 0 auto;" novalidate="">
                <div class="card-header">
                  <input type="hidden" th:field="*{idAgendamiento}" th:value="${agendamiento.idAgendamiento}" />
                </div>

                <div class="form-group row">
                  <label class="col-form-label col-sm-4">Fecha a Revisar Agendamiento</label>
                  <div class="col-sm-8">
                    <input th:field="*{fechaRevisionAgendamiento}" type="date" class="form-control" required="">
                    <div class="invalid-feedback">
                      Por favor diligencie el campo
                    </div>
                  </div>
                </div>

                <div class="card-footer text-center">
                  <button class="btn btn-primary">
                    <a style="--clr:#1e9bff" onclick="return confirm('¿Deseas guardar estos datos?');"><span
                        class="text-center">Registrar</span></a>
                  </button>
                </div>
              </form>
          </section>
        </div>
      </div>
    </div>

    <div class="settingSidebar">
      <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
      </a>
      <div class="settingSidebar-body ps-container ps-theme-default">
        <div class=" fade show active">
          <div class="setting-panel-header">Ajustes
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Tema</h6>
            <div class="selectgroup layout-color w-50">
              <label class="selectgroup-item">
                <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                <span class="selectgroup-button">Claro </span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                <span class="selectgroup-button">Oscuro</span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Tema Barra Lateral</h6>
            <div class="selectgroup selectgroup-pills sidebar-color">
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Tema Color</h6>
            <div class="theme-setting-options">
              <ul class="choose-theme list-unstyled mb-0">
                <li title="white" class="active">
                  <div class="white"></div>
                </li>
                <li title="cyan">
                  <div class="cyan"></div>
                </li>
                <li title="black">
                  <div class="black"></div>
                </li>
                <li title="purple">
                  <div class="purple"></div>
                </li>
                <li title="orange">
                  <div class="orange"></div>
                </li>
                <li title="green">
                  <div class="green"></div>
                </li>
                <li title="red">
                  <div class="red"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
            <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
              <i class="fas fa-undo"></i> Restaurar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    <div class="footer-left">
      <a href="templateshub.net">Templateshub</a></a>
    </div>
    <div class="footer-right">
    </div>
  </footer>
</div>
  </div>
  <!-- General JS Scripts -->
  <script th:src="@{/js/app.min.js}"></script>
  <!-- JS Libraies -->
  <script th:src="@{/bundles/datatables/datatables.min.js}"></script>
  <script th:src="@{/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/bundles/jquery-ui/jquery-ui.min.js}"></script>
  <!-- Page Specific JS File -->
  <script th:src="@{/js/page/datatables.js}"></script>
  <!-- Template JS File -->
  <script th:src="@{/js/scripts.js}"></script>
  <!-- Custom JS File -->
  <script th:src="@{/js/custom.js}"></script>
</body>


<!-- datatables.html  21 Nov 2019 03:55:25 GMT -->

</html>