<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AgroFuturo</title>
  <!--FontAwesome Icons-->
  <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin=anonymous></script>
  <!-- Favicons -->
 <link th:href="@{/img/logo.png}" rel="icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style-index.css}">
  <!--slider germanitttt-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/mislider.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/mislider-custom.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <img th:src="@{/img/index/logo.png}" alt="">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto"th:href="@{/login}">Inicio</a></li>
            <li><a class="nav-link scrollto " href="#hero">Acerca de</a></li>
            <li><a class="nav-link scrollto" href="#Asesoria">Asesorías</a></li>
            <li><a class="nav-link scrollto" href="#productoss">Productos</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contactenos</a></li>
            <li><a class="getstarted scrollto" th:href="@{/index}">Iniciar Sesión</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Aportamos soluciones al Campo</h1>
      <h2>Queremos expandir el agro Tolimense, ampliar sus conocimientos y mejorar la productividad
        de las cosechas </h2>
      <a href="#about" class="btn-asesorar scrollto">Asesoria Personalizada</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>AgroFuturo</h2>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
              Agrofuturo busca orientar a quienes necesiten mejorar la productividad o rentabilidad de sus cultivos. A
              través de asesorias,
              charlas o capacitaciones sobre el manejo de insumos agrícolas, se brindará apoyo teniendo en cuenta; el
              presupuesto y la problematica de nuestros clientes.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <br>
    <br>
    <br>

    <!--Asesorias-formulario-->
    <div id="Asesoria">
      <h1>Solicitar Asesoría</h1>
      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group clase">
            <input type="text" name="name" class="form-control nuevo" id="name" placeholder="¿Cuál es tu nombre?"
              required>
          </div>
          <div class="col-md-6 form-group  clase">
            <input type="text" name="last name" class="form-control nuevo" id="last name"
              placeholder="¿Cuál es tu apellido?" required>
          </div>
          <div class="col-md-6 form-group opciones">
            <label>
              Tipo de Documento
            </label>
            <select class="elegir">
              <option value="c.c">C.C</option>
              <option value="c.e">C.E</option>
              <option value="otro">Otro</option>
            </select>
          </div>
          <div class="col-md-6 form-group clase">
            <input type="number" name="numDoc" class="form-control nuevo" id="numDoc" placeholder="N° Documento"
              required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control nuevo" name="email" id="email" placeholder="Agrega tu correo"
              required>
          </div>
          <div class="col-md-6 form-group clase">
            <input type="number" name="tel" class="form-control nuevo" id="tel" placeholder="N° Telefonico" required>
          </div>

          <div class="col-md-6 form-group clase">
            <input type="text" class="form-control nuevo" name="subject" id="subject" placeholder="Dirección" required>
          </div>
          <div class="col-md-6 form-group clase">
            <input type="date" class="form-control nuevo" name="subject" id="subject" placeholder="Fecha a Agendar"
              required>
          </div>
          <div class="col-md-6 form-group opciones">
            <label>
              Tipo de Asesoria
            </label>
            <select class="elegir">
              <option value="c.c">Presencial</option>
              <option value="c.e">Virtual</option>
              <option value="otro">Telefonica</option>
            </select>
          </div>

          <div class="form-group mt-3 clase">
            <textarea class="form-control nuevo" name="message" rows="5" placeholder="Descripción " required></textarea>
          </div>
        </div>
        <br>
        <div class="enviar"><button type="submit" class="boton">Solicitar</button></div>

      </form>
    </div>

    <!--Fin formulario asesorias-->

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="welcome" id="productoss">
      <div class="container">
        <h3 class="agileits_w3layouts_head"><span>Productos</span></h3>
        <p class="agile_para">Algunos productos que encontraras en nuestra tienda:</p>
      </div>
      <!---728x90--->

      <div class="mis-stage w3_agileits_welcome_grids" name="product">
        <!-- The element to select and apply miSlider to - the class is optional -->
        <ol class="mis-slider">
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/2.png}" alt=" " class="img-responsive" />
              <figcaption>Fungicidas</figcaption>
            </figure>
          </li>
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/3.png}" alt=" " class="img-responsive" />
              <figcaption>Insecticidas</figcaption>
            </figure>
          </li>
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/4.png}" alt=" " class="img-responsive" />
              <figcaption>Microriego</figcaption>
            </figure>
          </li>
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/5.png}" alt=" " class="img-responsive" />
              <figcaption>Bioactive</figcaption>
            </figure>
          </li>
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/6.png}" alt=" " class="img-responsive" />
              <figcaption>Kocide</figcaption>
            </figure>
          </li>
          <li class="mis-slide">
            <figure>
              <img th:src="@{/img/index/productos/2.png}" alt=" " class="img-responsive" />
              <figcaption>Abono</figcaption>
            </figure>
          </li>
        </ol>
      </div>
    </div>
    <!-- //welcome -->
    <!-- welcome-bottom -->



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Problemas màs comunes en la agricultura</h3>
              <p>
                “Los nuevos datos nos dan un diagnóstico real y se ajustan a la meta de sembrar un millón de hectáreas
                más. Es la oportunidad de tener 42,3 millones de hectáreas aptas para la actividad”, aseguró el ministro
                de Agricultura, Aurelio Iragorri.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Leer mas <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Exceso de fertilizantes</h4>
                    <p>El Banco Mundial señala que en Colombia se utilizan más de 744 kilos de fertilizante por
                      hectárea, cuando en Chile o Brasil no superan los 200.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Falta de maquinaria</h4>
                    <p>Según el Censo Agropecuario solo 16,7% de los productores tiene maquinaria. Al respecto el Banco
                      Mundial promedia que en el año 2000 (última medición) había 82,7 tractores por cada 100 kilómetros
                      de tierra.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Inabilitacion de tierras</h4>
                    <p>El bajo acceso a la infraestructura es tal que 83,1% de las personas dice que no tiene acceso a
                      ella. Según el Instituto Colombiano de Desarrollo Rural (Incoder), de los 7,6 millones de
                      hectáreas que son aptas para riego, apenas 1,1 millones de hectáreas están adecuadas. </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contactenos</h2>
              <p>La empresa esta ubicada en Alvarado Tolima,
                Cualquier novedad puedes comunicarte a través de:</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.1490874240817!2d-74.95668828255614!3d4.567212500000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f4aa7eccdab59%3A0xabd2cdc6d712ff67!2sHospital%20San%20Roque!5e0!3m2!1ses!2sco!4v1661891380470!5m2!1ses!2sco"
              style="border:0; width:100%; height:270px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div id="contacto">
              <div class="col-lg-6 mt-4">
                <div class="info agro">
                  <i class='bx bx-map'></i>
                  <h4>Ubicación</h4>
                  <p>Calle 3 #4-52 ALvarada Tolima</p>
                </div>
              </div>
              <div class="col-lg-6 mt-4">
                <div class="info agro">
                  <i class="fa-brands fa-facebook"></i>
                  <h4>Facebook</h4>
                  <p>agricolagrofuturo@gmail.com</p>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="info agro">
                  <i class="bi bi-envelope"></i>
                  <h4>Correo</h4>
                  <p>agricolagrofuturo@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6 mt-4">
                <div class="info agro">
                  <i class="fa-brands fa-whatsapp"></i>
                  <h4>WhatsApp</h4>
                  <p>+57 3138988726
                </div>

              </div>

              <div class="mover">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="¿Cual es tu nombre?"
                        required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Agrega tu correo:"
                        required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Agrega asunto: "
                      required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Redacta sugerencia "
                      required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Cargando</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Tu mensaje fue enviado, gracias!</div>
                  </div>
                  <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                </form>
              </div>
            </div>
          </div>

        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="numero2">
      <img th:src="@{/img/index/logo.png}">
    </div>
    <div class="numero1">
      <p>Copyright &copy; Derechos reservados de la Landing Page.</p>
    </div>

    <div class="numero3">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-whatsapp"></i></a>
      <a href=""><i class="fa-solid fa-envelope"></i></a>
    </div>
  </footer>
  <!--Footer End-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/vendor/aos/aos.js}"></script>
  <script th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" th:src="@{/js/main.js}"></script>

  <!-- mislider -->
  <script type="text/javascript" th:src="@{/js/mislider.js}"></script>
  <script type="text/javascript">
    jQuery(function ($) {
      var slider = $('.mis-stage').miSlider({
        //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
        stageHeight: 380,
        //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
        slidesOnStage: false,
        //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
        slidePosition: 'center',
        //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
        slideStart: 'mid',
        //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
        slideScaling: 150,
        //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
        offsetV: -5,
        //  Center slide contents vertically - Boolean. Default: false
        centerV: true,
        //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
        navButtonsOpacity: 1,
      });
    });
  </script>
  <!-- //mislider -->

</body>

</html>