<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="utf-8">
	<title>Inicio de Sesión</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>


	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" th:href="@{/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">
	<script src="https://kit.fontawesome.com/392a27d13c.js" crossorigin="anonymous"></script>
	<!-- STYLE CSS -->
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel='shortcut icon' type='image/x-icon' th:href='@{/img/Login/logo.png}' />
	<link rel="stylesheet" th:href="@{/css/custom.css}">

</head>

<body th:src=" @{'/fonts/poppins/Poppins-Regular.ttf'}">
	<div class="wrapper" style="background-image: url('/img/Login/l.jpg');">c
		<div class="inner">
			<div class="image-holder">
				<img th:src="@{img/Login/f.jpg}" alt="">
			</div>
			<form th:action="@{/login}" method="post">

				<img class="logito" th:src="@{img/Login/logo.png}" alt="">
				<h3>Iniciar Sesión</h3>
				<div th:if=${param.error}>
					<div class="alert alert-danger">Correo o contraseña
						inválidos</div>
				</div>

				<div th:if=${param.logout}>
					<div class="alert alert-info">Ha cerrado sesión exitosamente
					</div>
				</div>
				<div class="form-wrapper">
					<input id="username" name="username" class="form-control" autofocus="autofocus"
						placeholder="Digite su Correo" required>
					<i class="fa-sharp fa-solid fa-user"></i>
				</div>

				<div class="form-wrapper">
					<input id="password" type="password" name="password" class="form-control" required
						autofocus="autofocus" placeholder="Digite su Contraseña">
					<i class="fa-sharp fa-solid fa-lock"></i>
				</div>

				<button class="botoncito" name="login-submit" id="login-submit" value="Iniciar sesión">Ingresar
					<i class="fa-sharp fa-solid fa-arrow-right"></i>
				</button>
				<div class="span">
					<span>Si eres nuevo usuario <a th:href="@{/registro}">regístrate
							aqui</a></span>
				</div>
			</form>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>